.F0{
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Rampart One', cursive;
    font-size: 40px;
    background: #ffd0aa;
    margin: 0px;
    padding: 20px;
}
.F1{
    font-family: 'Darumadrop One', cursive;
    font-size: 40px;
    background: #CCE1F2;
    margin: 0px;
    padding: 20px;
}
.F2{
    font-family: 'Lobster', cursive;
    font-size:40px;
    background: #C6F8E5;
    margin: 0px;
    padding: 20px;
}
.F3{
    font-family: 'Castoro Titling', cursive;
    font-size: 40px;
    background: #FBF7D5;
    margin: 0px;
    padding: 20px;
}
.F4{
    font-family: 'Courgette', cursive;
    font-size: 40px;
    background: #F9DED7;
    margin: 0px;
    padding: 20px;
}
.F5{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    background: #ffb7b7;
    margin: 0px;
    padding: 20px;
}
.F6{
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    background: #F5CDDE;
    margin: 0px;
    padding: 20px;
}
.F7{
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    background: #9ef0ef;
    margin: 0px;
    padding: 20px;
}
.F8{
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Just Another Hand', cursive;
    font-size: 50px;
    background: #E2BEF1;
    margin: 0px;
    padding: 20px;
}
